<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
            android:allowBackup="true"
            android:fullBackupContent="@xml/backup_rules"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher"
            android:supportsRtl="true"
            android:theme="@style/Theme.EHub">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".SettingsActivity"
            android:exported="false" />

        <activity
            android:name=".NonogramActivity"
            android:exported="false" />

        <activity
            android:name=".NonogramSettingsActivity"
            android:exported="false" />

        <activity android:name=".NextCloudGymActivity"
                    android:exported="false" />

        <activity
            android:name=".NextCloudGymSettingsActivity"
            android:exported="false" />

        <activity
            android:name=".ToBuyActivity"
            android:exported="false" />

        <activity
            android:name=".ToBuyDetailsActivity"
            android:exported="false" />

    </application>

</manifest>